/* ----------> BODY <----------*/

body{
  background-color: rgb(102 102 102);
  color: white;
}
/* ----------> BANNER <----------*/

.banner {
  background-color: #212529;

}

.imgbanner{ 
  width: 100%;
  height: 250px;
  padding: 15px 30px;
  border-radius: 85px;
}

/* ----------> NAVEGADOR <----------*/

#icono{
  width: 40px;
  height: 32px;
}

.container{
  max-inline-size:inherit;
}

.navegadorScroll{
  width: 100%;
  top: 0;
  position: fixed;
  background-color: #212529;
  z-index: 10;  
  max-inline-size:inherit;
  left: 0;
  padding: 12px;
  margin-bottom: 500px;
  transition: 1s;
}

#navegadoritems{
  margin: 0px 10px;
}

.btnSesion, .btnRegistro{
  cursor: pointer;
  font-family: cursive;
  border-radius: 5px;
  padding: 3px;
  width: 150px;
  height: 40px;
}

.btnRegistro{
  background-color: white;
  color: #212529;
}

.btnSesion{
  background-color: yellow;
  color: #212529;
}




/* ----------> MAIN <----------*/

main{
  margin: 20px;
  padding-bottom: 50px;
}

.mainTop{
  margin-block-start: 80px;
}

/* ----------> ASIDE <----------*/

aside{
  position: absolute;
  background-color: #212529;
  width: 200px;
  border-style: double;
  border-radius: 15px;
  border-color: white;
  margin-top: 15px;
}

#ulNav:hover{
  color: lightseagreen;
}

aside .asideLi{
  padding-left: 10px;
}

aside .asideLi:hover{
  color: lightseagreen;
  cursor: pointer;
  background-color: black;
  transition: 0.5s;
  border-radius: 15px;
}

.asideClass{
  position: fixed;
  top: 75px;
}

aside ul{
  margin: 10px;
  list-style: none;
  margin-left: -10px;
}

aside .submenu {
  display: none;
  padding-bottom: 10px;
  transition: 5s;
}

.liConsolas {
  transition: 4s;
}

aside .submenu li:hover {
  background-color: #212529;
  }

aside a{
  text-decoration: none;
  color: white;
}

.flechaClass{
  margin-left: 45px;
}


/* ----------> SECTION <----------*/

section{
  margin-left: 250px;
}

/* ----------> TABLE <----------*/

.btn_tabla{
  width: 100%;
  background-color: #212529;
  color: white;
  border-color: #323232;
}

section .tabla{
  display: none;
}

table{
  margin-top: 30px;
  width: 100%;
  text-align: center;
  background-color: #323232;
  color: white;
}

thead{
  background-color: black;
  color: white;
  border-bottom: 10px solid #212529;
}

td, th{
  border: 1px solid black;
  padding: 20px;
}

table .imgTable{
  width: 400px;
  height: 400px;

}


/* ----------> FOOTER <----------*/
footer{
  width: 100%;
  text-align: right;
  padding: 1px;
  background-color: #212529;
  color: white;
}

footer p{
  margin: 10px 40px;
}


/* ----------> CONTACTO <----------*/

form .divinput{
  display: grid;
}

#botones{
 display: grid;
}

#reset{
  background-color: red;
}

#submit{
  background-color: green;
}

/* ----------> Noticias <----------*/

section .noticiasLink{
  text-decoration: none;
  color: white;
}

section .noticiasLink h3{
  padding: 20px 0px;
}

section .noticiasLink:hover{
  color:lightseagreen;
}



